{
"wa_username": "80e25151-990f-4805-9d8e-d7818cdebceb",
"wa_password": "z24WsZJXlYgZ",
"wa_workspace_id": "a79477f5-26de-4792-a495-f09453f48aa3",
"cloudant_url": "https://603396db-1958-4abd-919c-f8b9a3a820cd-bluemix:4d83e9783151e234daf98fea3f0db6f040388b4446dfd967951d568fb1d72bb1@603396db-1958-4abd-919c-f8b9a3a820cd-bluemix.cloudant.com",
"fb_verification_token": "miclave1234",
"fb_page_access_token": "EAADRzZCD0BloBAFIb4Dh2QbZCO4TUOTUl3V5zZCguvMinYf1x8cVckRV9ZCjuY236yv5Mb5twdS26H5SYgDWRSYgDeg35gXqrqZCQZAlucyBkFIBhdbUhPWypLpU0FfkwKpOPU1xJpDg6cmrtbWOxbHDQLH6lNIALUvinZBuqmlDwZDZD",
"vr_api_key": "",
"vr_model_id": "",
"wds_username": "",
"wds_password": "",
"wds_enviroment": "",
"wds_collection_reviews": ""
}